
input[type=radio]{
  display: none;
}

/*input[type=radio]:checked{
  background-color: lightblue;
}*/

label{
  text-align: center;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid brown;
  border-radius: 5px;
}

#the-logo-itself{
  width: 75px;
  height: 112px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  top: 20%;
  margin-left: -120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

legend{
  text-align: right;
}
.result-description{
  text-align: center;
}

.logo{
  max-width: 225px;
  display: block;
  margin: 0 auto;
}

#to-be-hidden{
  visibility: hidden;
}

body {
  font-family: 'Lato', sans-serif;
}

.jumbotron{
 background: url('power-poles.jpg') no-repeat center center !important;
}

.jumbotron h1 { color: #333; }

.container-fluid { background-color: #f6f6f6; }


.result, .suggestion {
  border: 5px solid #F4B95E;
  border-radius: 10px;
  padding: 65px 20px;
  margin-top: 15px;
  font-size: 125%;
  text-align: center;
  background-color: white;
  color: #333;
}


.suggestion {
  padding: 10px 30px;
  font-size: 150%;
}

.control-label {
  font-size: 150%;
}

.checkbox-inline {
  text-align: center;
}
/*
.checkboxgroup label {
  display: block;
  margin-right: 50px;
}*/

.price { font-size: 1.5em; }

.kwh { font-size: 4em; }

.footer { padding-top: 60px; paddding-bottom: 60px; }

.text-muted { text-align: center; }


/*results */
.company-img{
  max-width: 100%;
}
