
/*General*/

.sentences{
  text-shadow: 1px 1.25px 2px #8C8C8C;
  color: white;
  text-align: right;
}


html, body{
  background-color: rgb(26, 188, 156);
}

/*SolarCub Logo*/

#the-logo-itself{
  width: 75px;
  height: 112px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  top: 20%;
  margin-left: -120px;
  margin-top: 40px;
  margin-bottom: 40px;
}


/*Questions*/

input[type=radio]{
  display: none;
}

label{
  text-align: center;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid brown;
  border-radius: 5px;
}

body {
  font-family: 'Lato', sans-serif;
}

.question-text {  /* questions text */
  font-size: 150%;
}

.radioGroup {
    display: inline-block;
}

.radioGroup .btn-default:hover {
    background-color: rgb(247, 189, 97);
    border: 1px solid rgb(162, 98, 23);
}

.radioGroup label {
    border: 1px solid rgb(162, 98, 23);
    position: relative;
	  border-radius: 5px;
    width: 152px;
    height: 100px;
    padding-top: 15px;
    padding-left: 5px;
    margin: auto;
    margin-bottom: 3px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.radioGroup .short { padding-top: 30px; }

.radioGroup .short2 { padding-top: 35px; }

.radioGroup img-holder { vertical-align: bottom; height: 100px; display: table-cell; }

.radioGroup input[type="radio"]:checked + label {
    background-color: rgb(243,156, 18);
}


/*results */

#to-be-hidden{
  display: none;
}

.result-description{
  text-align: center;
}

.result, .suggestion {
  border-radius: 10px;
  padding: 65px 20px;
  margin-top: 15px;
  font-size: 125%;
  text-align: center;
  background-color: white;
  color: #333;
  box-shadow: 0px 4px 6px grey;
}

.suggestion {
  padding: 10px 30px;
  font-size: 150%;
}

.company-img{
  max-width: 100%;
}

.price { font-size: 1.5em; }

.kwh { font-size: 4em; }


/*footer*/
.text-muted { text-align: center; }


.footer { padding-top: 60px; paddding-bottom: 60px; }
